## Marketing Strategy Analysis

#### Data import and cleaning

In [91]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats

In [92]:
data = pd.read_csv(r'E:\Diego\Data_Analyst\Projects\Optimize Marketing Campaigns (Python)\Campaign-Data.csv')

In [93]:
data.head(10)

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
5,ID-987275,Medium Facility,2800,125,1003,16-06-2014,27275684,198,0.0,0.0,0.0,0.0,4515000.0,322500.0,0.0,0.0,Low
6,ID-987275,Medium Facility,2800,125,1003,17-07-2014,17047304,123,0.0,0.0,0.0,0.0,4515000.0,2580000.0,0.0,0.0,Low
7,ID-987275,Medium Facility,2800,125,1003,16-08-2014,17047304,123,0.0,696213.0,0.0,0.0,3547500.0,3547500.0,0.0,0.0,Low
8,ID-987275,Medium Facility,2800,125,1003,16-09-2014,17047304,123,383800.8,1290412.8,0.0,0.0,2580000.0,4192500.0,0.0,0.0,Low
9,ID-987275,Medium Facility,2800,125,1003,16-10-2014,27275684,198,0.0,664917.6,0.0,0.0,2580000.0,4515000.0,0.0,0.0,Low

In [94]:
df = data

In [95]:
df.columns.unique()

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition'],
      dtype='object')

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Client ID              2976 non-null   object
 1   Client Type            2976 non-null   object
 2   Number of Customers    2976 non-null   int64
 3   Montly Target          2976 non-null   int64
 4   Zip Code               2976 non-null   int64
 5   Calendardate           2976 non-null   object
 6   Amount Collected       2976 non-null   int64
 7   Unit Sold              2976 non-null   int64
 8   Campaign (Email)       2976 non-null   float64
 9   Campaign (Flyer)       2976 non-null   float64
 10  Campaign (Phone)       2976 non-null   float64
 11  Sales Contact 1        2976 non-null   float64
 12  Sales Contact 2        2976 non-null   float64
 13  Sales Contact 3        2976 non-null   float64
 14  Sales Contact 4        2976 non-null   float64
 15  Sales Contact 5        2976 non-null   float64
 16  Number of Competition  2976 non-null   object
dtypes: float64(8), int64(5), object(4)
memory usage: 395.4+ KB

In [97]:
#Formatting calendardate column as a date and splitting it
df['Calendardate'] = pd.to_datetime(data['Calendardate'])
df['Calendar_Month'] = df['Calendardate'].dt.month
df['Calendar_Year'] = df['Calendardate'].dt.year

C:\Users\DIEGO\AppData\Local\Temp\ipykernel_12372\4073020052.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Calendardate'] = pd.to_datetime(data['Calendardate'])

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Client ID              2976 non-null   object
 1   Client Type            2976 non-null   object
 2   Number of Customers    2976 non-null   int64
 3   Montly Target          2976 non-null   int64
 4   Zip Code               2976 non-null   int64
 5   Calendardate           2976 non-null   datetime64[ns]
 6   Amount Collected       2976 non-null   int64
 7   Unit Sold              2976 non-null   int64
 8   Campaign (Email)       2976 non-null   float64
 9   Campaign (Flyer)       2976 non-null   float64
 10  Campaign (Phone)       2976 non-null   float64
 11  Sales Contact 1        2976 non-null   float64
 12  Sales Contact 2        2976 non-null   float64
 13  Sales Contact 3        2976 non-null   float64
 14  Sales Contact 4        2976 non-null   float64
 15  Sales Contact 5        2976 non-null   float64
 16  Number of Competition  2976 non-null   object
 17  Calendar_Month         2976 non-null   int32
 18  Calendar_Year          2976 non-null   int32
dtypes: datetime64[ns](1), float64(8), int32(2), int64(5), object(3)
memory usage: 418.6+ KB

In [99]:
df.shape

(2976, 19)

### Exploratory Data Analysis

#### Understanding distributions

In [100]:
df['Client Type'].value_counts(normalize=True)

Client Type
Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: proportion, dtype: float64

In [101]:
pd.crosstab(df['Number of Competition'],df['Client Type'], margins=True, normalize='columns')

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility,All
Number of Competition,,,,,
High,0.166667,0.166667,0.166667,0.166667,0.166667
Low,0.833333,0.833333,0.833333,0.833333,0.833333

In [102]:
df.groupby('Number of Competition').mean(numeric_only=True)

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calendar_Month,Calendar_Year
Number of Competition,,,,,,,,,,,,,,,
High,1456.935484,75.080645,1003.0,2.974789e+07,213.127016,105398.938508,994046.717540,45198.036895,146945.564516,2.685333e+06,1.786754e+06,72172.379032,8452.620968,10.5,2015.0
Low,1456.935484,75.080645,1003.0,1.445570e+07,103.132258,150862.165766,623692.979839,26693.304194,128219.758065,1.890916e+06,1.883634e+06,70481.854839,15864.919355,5.7,2014.4

In [103]:
df.groupby('Client Type').mean(numeric_only=True)

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calendar_Month,Calendar_Year
Client Type,,,,,,,,,,,,,,,
Large Facility,1380.842105,71.578947,1003.0,1.999880e+07,143.098684,142273.609649,8.192056e+05,45595.436623,133667.763158,2.034013e+06,2.017039e+06,119287.280702,16266.447368,6.5,2014.5
Medium Facility,3940.761905,202.857143,1003.0,4.075997e+07,290.583333,437217.097817,1.552603e+06,49176.847619,398645.833333,4.822783e+06,4.698646e+06,85104.166667,33273.809524,6.5,2014.5
Private Facility,400.727273,20.454545,1003.0,5.030246e+06,35.784091,5183.715152,2.272919e+05,5522.470455,1221.590909,6.376705e+05,4.434375e+05,3664.772727,12215.909091,6.5,2014.5
Small Facility,422.514286,21.285714,1003.0,1.637759e+06,11.689286,11975.986310,9.120875e+04,0.000000,8062.500000,7.617143e+05,3.727946e+05,4223.214286,1535.714286,6.5,2014.5

In [104]:
data.corr(numeric_only=True)[['Amount Collected']]

                     Amount Collected
Number of Customers          0.607496
Montly Target                0.608204
Zip Code                          NaN
Amount Collected             1.000000
Unit Sold                    0.997515
Campaign (Email)             0.248235
Campaign (Flyer)             0.444337
Campaign (Phone)             0.034858
Sales Contact 1              0.277478
Sales Contact 2              0.552112
Sales Contact 3              0.357887
Sales Contact 4              0.236165
Sales Contact 5              0.095795
Calendar_Month               0.139425
Calendar_Year                0.286194

#### Correlation Analysis

In [105]:
cm = sns.light_palette('orange', as_cmap=True)
correlation_analysis = pd.DataFrame(df[['Amount Collected', 'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)', 'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
                                       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis.columns=['Variable', 'Correlation']
correlation_analysis=correlation_analysis[correlation_analysis['Variable']!='Amount Collected']
correlation_analysis=correlation_analysis.sort_values('Correlation', ascending=False)
correlation_analysis.style.background_gradient(cmap=cm)

In [106]:
cm = sns.light_palette('orange', as_cmap=True)
correlation_analysis = pd.DataFrame(df.groupby('Client Type')[['Amount Collected', 'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)', 'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
                                       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis=correlation_analysis.sort_values(['Client Type', 'Amount Collected'], ascending=False)
correlation_analysis.columns=['Account Type', 'Variable Impact', 'Impact']
correlation_analysis=correlation_analysis[correlation_analysis['Variable Impact']!='Amount Collected'].reset_index(drop=True)
correlation_analysis.style.background_gradient(cmap=cm)

As we can see sales contact 2 has a high impact on sales done in large facilities, medium facilities and private facilities. While phone campaigns seem to be the least effective for most facilities

### Regression Analysis (Market Sales and Strategies)

In [107]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [108]:
df.columns=[mystring.replace(' ', '_') for mystring in df.columns]
df.columns=[mystring.replace('(', '') for mystring in df.columns]
df.columns=[mystring.replace(')', '') for mystring in df.columns]
results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+Sales_Contact_1+Sales_Contact_2+Sales_Contact_3+Sales_Contact_4+Sales_Contact_5',data=df).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     342.1
Date:                Sat, 01 Mar 2025   Prob (F-statistic):               0.00
Time:                        14:56:20   Log-Likelihood:                -54512.
No. Observations:                2976   AIC:                         1.090e+05
Df Residuals:                    2967   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.481e+06   5.12e+05      2.891      0.004    4.77e+05    2.49e+06
Campaign_Email      0.7932      0.597      1.329      0.184      -0.377       1.963
Campaign_Flyer      3.3376      0.260     12.831      0.000       2.828       3.848
Campaign_Phone      0.0734      1.053      0.070      0.944      -1.991       2.137
Sales_Contact_1     4.2368      0.415     10.207      0.000       3.423       5.051
Sales_Contact_2     3.6382      0.129     28.155      0.000       3.385       3.892
Sales_Contact_3     2.3432      0.131     17.925      0.000       2.087       2.600
Sales_Contact_4    10.9478      1.060     10.331      0.000       8.870      13.026
Sales_Contact_5     3.5078      4.549      0.771      0.441      -5.412      12.428
==============================================================================
Omnibus:                     1099.749   Durbin-Watson:                   0.624
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7733.226
Skew:                           1.578   Prob(JB):                         0.00
Kurtosis:                      10.239   Cond. No.                     5.89e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [109]:
coef = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0]
coef

C:\Users\DIEGO\AppData\Local\Temp\ipykernel_12372\1897702063.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  coef = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0]

,coef,std err,t,P>|t|,[0.025,0.975]
Intercept,1.481000e+06,512000.000,2.891,0.004,477000.000,2490000.000
Campaign_Email,7.932000e-01,0.597,1.329,0.184,-0.377,1.963
Campaign_Flyer,3.337600e+00,0.260,12.831,0.000,2.828,3.848
Campaign_Phone,7.340000e-02,1.053,0.070,0.944,-1.991,2.137
Sales_Contact_1,4.236800e+00,0.415,10.207,0.000,3.423,5.051
Sales_Contact_2,3.638200e+00,0.129,28.155,0.000,3.385,3.892
Sales_Contact_3,2.343200e+00,0.131,17.925,0.000,2.087,2.600
Sales_Contact_4,1.094780e+01,1.060,10.331,0.000,8.870,13.026
Sales_Contact_5,3.507800e+00,4.549,0.771,0.441,-5.412,12.428

In [110]:
coef = coef.reset_index()
coef = coef[coef['P>|t|']<0.05][['index', 'coef']]
coef

             index          coef
0        Intercept  1.481000e+06
2   Campaign_Flyer  3.337600e+00
4  Sales_Contact_1  4.236800e+00
5  Sales_Contact_2  3.638200e+00
6  Sales_Contact_3  2.343200e+00
7  Sales_Contact_4  1.094780e+01

### Regression Analysis Broken up by Account Types

In [122]:
summary = pd.DataFrame()
for acctype in list(set(list(df['Client_Type']))):
    print(acctype)
    temp = df[df['Client_Type']==acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+Sales_Contact_1+Sales_Contact_2+Sales_Contact_3+Sales_Contact_4+Sales_Contact_5', data=temp).fit()
    coef = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
    coef = coef[coef['P>|t|']<0.05][['index', 'coef']]
    coef.columns = ['Variable', 'Coefficient (Impact)']
    coef['Account Type'] = acctype
    coef = coef.sort_values('Coefficient (Impact)', ascending=False)
    coef = coef[coef['Variable']!= 'Intercept']
    summary = pd.concat([summary, coef])
    print(results.summary())

Large Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.371
Model:                            OLS   Adj. R-squared:                  0.367
Method:                 Least Squares   F-statistic:                     100.2
Date:                Sat, 01 Mar 2025   Prob (F-statistic):          4.64e-131
Time:                        15:08:16   Log-Likelihood:                -25075.
No. Observations:                1368   AIC:                         5.017e+04
Df Residuals:                    1359   BIC:                         5.021e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        2.812e+06   9.29e+05      3.026      0.003    9.89e+05    4.63e+06
Campaign_Email      0.7886      0.936      0.842      0.400      -1.048       2.625
Campaign_Flyer      2.7204      0.352      7.739      0.000       2.031       3.410
Campaign_Phone     -3.5361      1.333     -2.653      0.008      -6.151      -0.921
Sales_Contact_1    11.6731      1.246      9.368      0.000       9.229      14.117
Sales_Contact_2     4.0031      0.239     16.718      0.000       3.533       4.473
Sales_Contact_3     2.0316      0.246      8.266      0.000       1.549       2.514
Sales_Contact_4    10.6145      1.260      8.423      0.000       8.143      13.086
Sales_Contact_5    -3.6385      6.703     -0.543      0.587     -16.789       9.512
==============================================================================
Omnibus:                      334.998   Durbin-Watson:                   0.655
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1353.896
Skew:                           1.121   Prob(JB):                    1.01e-294
Kurtosis:                       7.327   Cond. No.                     6.22e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.22e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
Medium Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.437
Model:                            OLS   Adj. R-squared:                  0.428
Method:                 Least Squares   F-statistic:                     48.00
Date:                Sat, 01 Mar 2025   Prob (F-statistic):           4.13e-57
Time:                        15:08:16   Log-Likelihood:                -9461.9
No. Observations:                 504   AIC:                         1.894e+04
Df Residuals:                     495   BIC:                         1.898e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        5.682e+06   2.53e+06      2.241      0.025    7.01e+05    1.07e+07
Campaign_Email      1.1260      1.287      0.875      0.382      -1.403       3.655
Campaign_Flyer      4.1059      0.702      5.851      0.000       2.727       5.485
Campaign_Phone      2.3077      3.014      0.766      0.444      -3.615       8.230
Sales_Contact_1     3.1365      0.732      4.284      0.000       1.698       4.575
Sales_Contact_2     3.5778      0.305     11.717      0.000       2.978       4.178
Sales_Contact_3     2.1174      0.295      7.168      0.000       1.537       2.698
Sales_Contact_4    -7.4136      4.497     -1.649      0.100     -16.250       1.422
Sales_Contact_5     8.2368     10.845      0.760      0.448     -13.071      29.544
==============================================================================
Omnibus:                      103.101   Durbin-Watson:                   0.592
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              197.732
Skew:                           1.144   Prob(JB):                     1.16e-43
Kurtosis:                       5.045   Cond. No.                     1.44e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
Small Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     6.829
Date:                Sat, 01 Mar 2025   Prob (F-statistic):           6.63e-08
Time:                        15:08:16   Log-Likelihood:                -14125.
No. Observations:                 840   AIC:                         2.827e+04
Df Residuals:                     832   BIC:                         2.830e+04
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        8.789e+05   2.07e+05      4.252      0.000    4.73e+05    1.28e+06
Campaign_Email      1.8882      1.344      1.405      0.160      -0.750       4.526
Campaign_Flyer      0.0753      0.268      0.281      0.778      -0.450       0.600
Campaign_Phone  -3.044e-06   7.16e-07     -4.252      0.000   -4.45e-06   -1.64e-06
Sales_Contact_1    -0.9764      1.655     -0.590      0.555      -4.224       2.271
Sales_Contact_2     0.8101      0.130      6.218      0.000       0.554       1.066
Sales_Contact_3     0.3277      0.198      1.656      0.098      -0.061       0.716
Sales_Contact_4     0.4837      4.427      0.109      0.913      -8.206       9.173
Sales_Contact_5    -2.6243      7.996     -0.328      0.743     -18.319      13.070
==============================================================================
Omnibus:                      985.034   Durbin-Watson:                   1.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            97146.151
Skew:                           5.770   Prob(JB):                         0.00
Kurtosis:                      54.405   Cond. No.                     1.04e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.88e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
Private Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.346
Model:                            OLS   Adj. R-squared:                  0.326
Method:                 Least Squares   F-statistic:                     16.88
Date:                Sat, 01 Mar 2025   Prob (F-statistic):           4.63e-20
Time:                        15:08:16   Log-Likelihood:                -4650.8
No. Observations:                 264   AIC:                             9320.
Df Residuals:                     255   BIC:                             9352.
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        4.439e+05    8.3e+05      0.535      0.593   -1.19e+06    2.08e+06
Campaign_Email      6.6806     17.292      0.386      0.700     -27.374      40.735
Campaign_Flyer      1.6661      1.125      1.482      0.140      -0.548       3.881
Campaign_Phone      7.8827     10.196      0.773      0.440     -12.197      27.962
Sales_Contact_1   -88.9282     47.497     -1.872      0.062    -182.465       4.608
Sales_Contact_2     6.6223      0.718      9.220      0.000       5.208       8.037
Sales_Contact_3    -0.7264      0.893     -0.814      0.417      -2.485       1.032
Sales_Contact_4    19.4954     19.966      0.976      0.330     -19.824      58.815
Sales_Contact_5    21.7693     13.600      1.601      0.111      -5.013      48.552
==============================================================================
Omnibus:                      274.961   Durbin-Watson:                   1.110
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9920.407
Skew:                           4.276   Prob(JB):                         0.00
Kurtosis:                      31.788   Cond. No.                     1.79e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.79e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\DIEGO\AppData\Local\Temp\ipykernel_12372\885186593.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  coef = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
C:\Users\DIEGO\AppData\Local\Temp\ipykernel_12372\885186593.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  coef = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
C:\Users\DIEGO\AppData\Local\Temp\ipykernel_12372\885186593.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  coef = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
C:\Users\DIEGO\AppData\Local\Temp\ipykernel_12372\885186593.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  coef = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()

### Final Recommendations

Using the table below, we can use the coefficient to see how much return we can derive from each dollar we spend. Each account type has different methods that are effective to them.

#### Medium Facility

In [123]:
summary[summary['Account Type']=='Medium Facility']

          Variable  Coefficient (Impact)     Account Type
2   Campaign_Flyer                4.1059  Medium Facility
5  Sales_Contact_2                3.5778  Medium Facility
4  Sales_Contact_1                3.1365  Medium Facility
6  Sales_Contact_3                2.1174  Medium Facility

In [113]:
def format(x):
    return '${:.1f}'.format(x)

In [133]:
summary.rename(columns={'Coefficient (Impact)':'Return On Investment'}, inplace=True)
summary['Return On Investment'] = summary['Return On Investment'].apply(lambda x: round(x,1))

In [134]:
summary['Return On Investment'] = summary['Return On Investment'].apply(format)

In [135]:
summary[summary['Account Type']=='Medium Facility']

          Variable Return On Investment     Account Type
2   Campaign_Flyer                 $4.1  Medium Facility
5  Sales_Contact_2                 $3.6  Medium Facility
4  Sales_Contact_1                 $3.1  Medium Facility
6  Sales_Contact_3                 $2.1  Medium Facility

For each dollar spend on flyer campaigns, the average return will be $4.1 dollars. Sales contact 1, 2 and 3 are also highly effective.
Other strategies used show no impact so could be dropped to save costs.

#### Private Facility

In the case of the private facilities, the only succesful campaign so far has been sales contact 2, all the others haven't make an impact in increasing the sales.

In [138]:
summary

          Variable Return On Investment      Account Type
4  Sales_Contact_1                $11.7   Large Facility
7  Sales_Contact_4                $10.6   Large Facility
5  Sales_Contact_2                 $4.0   Large Facility
2   Campaign_Flyer                 $2.7   Large Facility
6  Sales_Contact_3                 $2.0   Large Facility
3   Campaign_Phone                $-3.5   Large Facility
2   Campaign_Flyer                 $4.1   Medium Facility
5  Sales_Contact_2                 $3.6   Medium Facility
4  Sales_Contact_1                 $3.1   Medium Facility
6  Sales_Contact_3                 $2.1   Medium Facility
5  Sales_Contact_2                 $0.8   Small Facility
3   Campaign_Phone                $-0.0   Small Facility
5  Sales_Contact_2                 $6.6  Private Facility

#### Large Facilities

Large Facilities have the best 2 campaigns, sales contact 1 and 4, they have return on investment of 11.7 and 10.6 respectively for each dollar invested. The advise would be to increase the budget for those campaigns, and drop the phone campaign which is not even bringing any positive returns.